body {
    padding: 15px;
    background-color: #f0f0f0;
    font-family: 'Quicksand', sans-serif;
}

.doc-square {
    width: 300px;
    height: 300px;
    background-color: #D0D0D0;
    padding: 15px;
    margin:15px;
    float:left;
    opacity: 0.7;
    transition: opacity 0.5s ease, box-shadow 0.3s ease, width 0.3s ease, height 0.3s ease, padding 0.3s ease;
}

.doc-version.active {
    opacity: 1;
    background-color: orange !important;
}

.doc-version h3 {
    text-align: center;
    font-size: 62px;
    margin-bottom: 0;
    word-break: break-all;
}

.doc-version a {
    display: block;
    padding:7px;
    max-width: 40%;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: auto;
    background: rgba(0, 0, 0, 0.2);
}

.doc-version a:hover {
    background: rgba(0, 0, 0, 0.5);
}

.doc-square:hover {
    opacity: 1;
    cursor: pointer;
/*    margin:20px;
    padding: 10px;*/
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.doc-square h2 {
    text-align: center;
    font-size: 112px;
    margin-bottom: 0;
    transition: font-size 0.5s ease, margin 0.6s ease;
}

.doc-square span {
    display: block;
    text-align: center;
    font-size: 24px;
    transition: font-size 0.5s ease;
}

.bread-label {
    padding: 3px 7px;
    border-radius: 2px;
    margin: 0 4px;
}

.bread-label.home i {
    font-size: 19px;
    margin-right: 8px;
    vertical-align: top;
}

.bread-label a {
    color: #f56b2a;
    text-decoration: underline;
}

.bread-label:hover {
    background: #f56b2a;
}

.bread-label.current:hover {
    background: none;
}


.bread-label:hover a {
       color: #fff;
}

.breadcrumbs ul li {
    display: inline-block;
    list-style-type: none;
}


.breadcrumbs ul li:after {
    content: ">";
    color: #f56b2a;
}

.breadcrumbs ul li:last-child:after {
    content: "";
}

.doc-square.tag {
    width: 140px;
    height: 140px;
    padding: 5px;
    float:left;
}

.doc-version.tag h3 {
    font-size: 14px;
    margin-bottom: 1em;
}

/** FRAME **/
#frame, #index {
    float:left;    
    -webkit-transition: width 0.5s ease; /* Safari */
    transition: width 0.5s ease;
}

#index {
    width: 100%;
}

#frame {
    width: 0%;
    position: relative;
    overflow: hidden;
    float: right;
    height: 1500px;
}

#frame.open {
    width: 75%;
    overflow: visible;
}

#index.open {
    width: 25%;
}

/** doc list modification when open */

#index.open .doc-square {
    width: 140px;
    height: 140px;
    padding: 5px;
}

#index.open .doc-square h2 {
    font-size: 42px;
}

#index.open .doc-square span {
    font-size: 19px;
}

#index.open .doc-version h3 {
    font-size: 19px;
    margin-bottom: 1em;
}


#frame iframe {
    position: absolute;
    top: 35px;
    left: 15px;
    width: 100%;
    height: 100%;
    border:none;
    -webkit-box-shadow: -6px 0 13px -5px rgba(145,145,145,1);
    -moz-box-shadow: -6px 0 13px -5px rgba(145,145,145,1);
    box-shadow: -6px 0 13px -5px rgba(145,145,145,1);
}

#frame .exit-bar {
    top: 0;
    right: 0;
    left: 15px;
    position: absolute;
    z-index: 100;
    text-align: right;
    padding: 5px;
}

#frame .exit-bar a {
    padding: 6px;
    background: #dedede;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 7px;
    opacity: 0.8;
}

#frame .exit-bar a:hover {
    padding: 6px;
    opacity: 1;
}