body {
    padding: 15px;
    background-color: #f0f0f0;
    font-family: 'Quicksand', sans-serif;
}

.doc-square {
    width: 300px;
    height: 300px;
    background-color: #D0D0D0;
    padding: 15px;
    margin:15px;
    float:left;
    opacity: 0.7;
    transition: opacity 0.5s ease, box-shadow 0.3s ease;
}

.doc-square.doc-version:hover {
    cursor: default;
}

.doc-version h3 {
    text-align: center;
    font-size: 62px;
    margin-bottom: 0;
}

.doc-version a {
    display: block;
    padding:7px;
    max-width: 40%;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: auto;
    background: rgba(0, 0, 0, 0.2);
}

.doc-version a:hover {
    background: rgba(0, 0, 0, 0.5);
}

.doc-square:hover {
    opacity: 1;
    cursor: pointer;
/*    margin:20px;
    padding: 10px;*/
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

.doc-square h2 {
    text-align: center;
    font-size: 112px;
    margin-bottom: 0;
}

.doc-square span {
    display: block;
    text-align: center;
    font-size: 24px;
}

.bread-label {
    padding: 3px 7px;
    border-radius: 2px;
    margin: 0px 4px;
}

.bread-label.home i {
    font-size: 19px;
    margin-right: 8px;
    vertical-align: top;
}

.bread-label a {
    color: #f56b2a;
    text-decoration: underline;
}

.bread-label:hover {
    background: #f56b2a;
}

.bread-label.current:hover {
    background: none;
}


.bread-label:hover a {
       color: #fff;
}

.breadcrumbs ul li {
    display: inline-block;
    list-style-type: none;
}


.breadcrumbs ul li:after {
    content: ">";
    color: #f56b2a;
}

.breadcrumbs ul li:last-child:after {
    content: "";
}